.tg  {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td {
    padding:0px 10px;
    border-style:none;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}

.tg .tg-z{
    border-right: 1px solid rgba(255, 255, 255, .3);
    text-align:center;
    vertical-align:middle
}

.tg .tg-a{
    border-bottom: none;
}
.tg .tg-b{
    border-top: none;
}

.tg-z:nth-last-child(1){
    border-right: none;
}

.icon-svg {
    filter: invert(1);
}